<p id="notice"><%= notice %></p>

<h1><%= @beer_club.name %></h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<% if @beer_club.members %>
    <h3>Members</h3>

    <ul>
      <% @beer_club.members.each do |member| %>
          <li> <%= link_to member.username, user_path(member) %> </li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
